<header class="shell-header">
  <div class="actions-container">
    <button *ngIf="isShowAddButton" class="button is-primary is-small" (click)="onClickAddButton()">Добавить</button>
  </div>

  <div class="search-container">
    <input type="text"
           placeholder="Поиск..."
           class="search-input"
           [formControl]="searchFormControl">

    <button class="clear-button" (click)="onClickClearButton()">
      <mn-icon iconName="close" aria-hidden="true"></mn-icon>
    </button>
  </div>

  <mn-tags-filter
    [elements]="tags"
    [selected]="selectedTags"
    (selectedChanges)="onChangeSelectedTags($event)"
    ></mn-tags-filter>
    
</header>

<!-- <mn-place-card></mn-place-card> -->